#products-box {
  height: 650px;
}


#product-text-box {
    display: flex;
    width: 1190px;
    margin: auto;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    color: black;

}

#product-text-box > div > h2 {
  margin-left: 12px;
  width: 15vw;
}

#categorie-list {

  width: 100%;
  display: flex;
  list-style: none;
  margin: auto;
  justify-content:end;
    
}

#categorie-list > li {
    margin: 0 15px;
    font-weight: bold;
    color: gray;
    cursor: pointer;

}

#categorie-list > li:hover {
  color:#D10024 ;
}

#categorie-list > li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #EF233C;
  transition: width .3s;
}

#categorie-list > li:hover::after {
  width: 100%;
  transition: width .3s;
}

.active {
  color: #D10024 !important;
}

#categorie-list > .active::after {
  width: 100%;
  transition: width .3s;
}

.itens {

  width: 1200px;
  margin: auto;

}

#itens-container {
  margin-top: 30px;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
}

#itens-container::-webkit-scrollbar {
  display: none;
}

#product-image {

  display: block;
  width: 245px;
  height: 250px;
  margin: auto;
  margin: 10px;
  background-color: white;
 
}

#card-text-box {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.card-price {
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #D10024;
}

.product-name {
  margin: 5px;
  font-size: 20px;
}

#card-icons {
  height: 80px;
}

#item-card-box {
  width: 100%;
  height: max-content;
  object-fit: cover;
  margin: 15px 15px;
  cursor: pointer;

}

#item-card {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.068);
  user-select:none;
}

#item-card-box:hover > #item-card {
  border: 2px solid #EF233C;
}

#item-card > a > h2 {
  font-size: 1.3vw;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 0px;
  font-size: 20px;
  color: rgb(0, 0, 0);

}

.item-buttons {
  position: relative;
  text-align: right;
  padding: 0 35px;

}

.arrow-icons {
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin: 0 3px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.151);
  background-color: white;
  cursor: pointer;
  user-select:none;
  
}

.arrow-icons:hover {
  color: rgb(255, 255, 255);
  background-color: #D21737; 
}

#card-icons-box {
  display: flex;
  justify-content: center;
  height: fit-content;
  font-size: 20px;
  text-align: center;
  margin: 10px;

}

.card-icons {
  margin: 25px;
  transition: 0.2s;
}

.card-icons:hover {
  color: #D10024;
  background-color: #E5E6EB;
  border-radius: 50%;
}

#hidden-cart-box {
  display: block;
  margin: auto;
  opacity: 0;
  padding-top: 20px;
  width: 264px;
  text-align: center;
  margin-top: -2px;
  background-color: black;
  transition: 0.2s;
  height: 0px;
}



#hidden-cart-box > button {
  display: flex;
  margin: auto;
  border-radius: 30px;
  width: 170px;
  color: white;
  border: none;
  height: 0px;
  border: 2px solid #EF233C;
  background-color: #EF233C;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;

}

#hidden-cart-box > button:hover {
  background-color: white;
  width: 190px;
  color: #D10024;
}

#item-card-box:hover > #hidden-cart-box {
  opacity: 1;
  height: 70px;
}

#item-card-box:hover > #hidden-cart-box > button {
  height: 45px;

}

#button-icon {
  font-size: 0;
  margin:auto 0;
  margin-left: auto;
  transition: 0.3s;

}

#hidden-cart-box > button:hover > #button-icon {
  color: #D10024;
  font-size: 15px;
  transition: 0.3s;
  margin-left: auto !important;
  margin-right: 15px !important;

}

#hidden-cart-box > button > p {
  margin-top: auto;
 margin-left: 0;
 margin-right: auto;
}


@media screen and (max-width: 1300px)
{
  #products-box {
    height: 650px;
  }

  #product-text-box {
    width: 840px;
  }

  #product-text-box > div > h2 {
    width: 22vw;
  }

  #product-image {
    width: 228px;
    height: 230px;
  }

  #hidden-cart-box {
    width: 248px;
  }

  .itens {
    width: 850px;
    margin: auto;
  }

  #hidden-cart-box > button:hover > #button-icon {
    margin: auto 0;
  }

  #hidden-cart-box > button {

    width: 160px;
    font-size: 14px;
  }

  #hidden-cart-box > button:hover {
    width: 190px;
  }

}

@media screen and (max-width: 900px)
{
  #product-text-box {
    width: 730px;
  }

  #products-box {
    height: 750px;
  }

  #product-text-box > div > h2 {
    width: 30vw;
    font-size: 25px;
  }

  .itens {
    width: 730px;
  }

  #product-image {
    width: 310px;
    height: 335px;
  }

  #hidden-cart-box {
    width: 328px;
  }

  #hidden-cart-box > button {

    font-family: 'Montserrat', sans-serif;
    width: 200px;
    font-size: 14px;
  }

  #hidden-cart-box > button:hover {
    width: 240px;
  }

}

@media screen and (max-width: 750px)
{

  #product-text-box {
    width: 90vw;
    text-align: left;
  }

  #product-text-box > div > h2 {
    width: fit-content;

  }

  .itens {
    width: 90vw;
  }

  #product-image {
    width: 35vw;
    height: 40vw;
  }

  #hidden-cart-box {
    width: 39vw;
  }



  #hidden-cart-box > button {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    text-align: center;
    width: 26vw;
    font-size: 2vw;
  }

  #hidden-cart-box > button > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  #button-icon {
    text-align: center;

  }

  #hidden-cart-box > button:hover {
    width: 32vw;
  }

  #product-text-box {
    display: flex;
    flex-direction: column;
  }

  #product-text-box > ul {
    width: fit-content;
    margin-left: 0;
    margin-top: 20px;
  }

  #categorie-list {
    margin-bottom: -20px;
  }

  #categorie-list > li {
    font-size: 15px;
  }

}

@media screen and (max-width: 450px)
{
  #product-image {
    width: 75vw;
    height: 81vw;
  }

  #hidden-cart-box {
    width: 81vw;
  }

  #hidden-cart-box > button {
    width: 50vw;
    font-size: 3.5vw;
  }

  #hidden-cart-box > button > p {
    margin-top: auto;
  }


  #hidden-cart-box > button:hover > #button-icon {
    font-size: 20px;
    margin-right: -40px;
    margin-right: 5px;

  }

  #hidden-cart-box > button:hover {
    width: 55vw;
  }

  #categorie-list {
    width: 100vw;
    margin-left: 5px !important;
  }

  #categorie-list > li {
    font-size: 13px;
    margin: 0 5px ;
  }
}