#categorie-box {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;

}

#categorie-card {
    margin: auto;
    padding: 25px 0px;
    cursor: pointer;

}

#categorie-card:hover > #categorie-image-box > #categorie-card-img {
    transition: 0.8;
    width: 270px;
}
#mask {
    position: absolute;
    width: 350px;
    height: 250px;
    background-color: #d10023e5;
    box-shadow: 1px 1px 1px rgba(255, 0, 0, 0.267);
    clip-path: polygon(0 0, 100% 0, 40% 100%, 0% 100%);
}

#categorie-image-box {
    background-color: #E4E7ED;
    width: 550px;
    height: 250px;
    overflow:hidden;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);

}

#categorie-card-text {
    color: white;
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
    width: 50%;
}

#categorie-name {
    font-size: 30px;
}

#categorie-card-img {
    display: block;
    margin: auto;
    margin-right: 0;
    width: 250px;
    transition: width 0.3s;


}

@media screen and (max-width: 1300px)
{
    #categorie-box {
        width: 900px;
    }

    #categorie-image-box {
        width: 400px;
    }

    #mask {
        width: 280px;
    }
    #categorie-card-text {
        width: 60%;
    }
}