#header {
    margin: 0;
    padding: 0;
    height: fit-content;
    overflow: hidden;
    width: 100%;
    
}

#logo {
    display: block;
    margin: auto;
    width: 180px;
    height: 40px;
}

#search-mask {
    background-color: #15161D;
    border-bottom: 3px solid #D10024;
    width: 100%;
}

#search-box {
    margin: auto;
    width: 1150px;
    height: 120px;


}

#search-content {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

#search-content > h2 {
    margin: auto 0;
    
}

#search-bar {
    margin: auto;
}

#search-icon {
    display: none;
}

#search-bar > input {
    width: 350px;
    height: 35px;
    background-color: white;
    border-style: solid;
    padding-left: 15px;
    border-color: rgba(0, 0, 0, 0.096);
    z-index: 10;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

#search-bar > button {
    width: 100px;
    height: 41px;
    background-color: #D31737;
    color: white;
    border: 1px solid #D31737;
    border-radius: 0 20px 20px 0px;
    margin-top: -1px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
}

#search-bar > button:hover {
    background-color: #d31736e5;
    border: 1px solid #d31736e5;
}

#search-bar > select {
    color: rgba(0, 0, 0, 0.651);
    width: 150px;
    height: 39px;
    background-color: white;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: -1px;
    text-align: center;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.096);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}


#nav-icons-box {
    display: flex;
    margin: auto 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.nav-icons {
    padding: 15px 10px 10px;
    color: rgb(199, 199, 199);
    font-size: 22px;
    cursor: pointer;
    user-select:none;
}

.nav-icons:hover {
    color: #ffffff;
}

#menu-icon {
    display: none;
}

#nav-bar {
    width: 100vw;
    padding: 25px 0;
    border: solid rgba(0, 0, 0, 0.103) 2px;
}

#nav-bar > ul {
    width: 1200px;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
    cursor: pointer;  
    font-family: 'Montserrat', sans-serif; 
}

#nav-bar > ul > li {
    margin: 0 20px;
    
}

#nav-bar > ul > li:hover {
    color:#D10024 ;
}

#nav-bar > ul > li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #EF233C;
    transition: width .3s;
}

#nav-bar > ul > li:hover::after {
    width: 100%;
    transition: width .3s;
}

#home {
    color: #D10024;
}

#nav-bar > ul > #home::after {
    width: 100%;
    transition: width .3s;
}

#responsive-menu-box {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    margin-left: -100vw;
    transition: 0.3s;
}


#responsive-menu {
    width: 30vw;
    background-color: #15161D;
    height: 100vh;

}

#menu-mask {
    width: 70vw;
    height: 100vh;
    background-color: #5754544f;
}

#resp-nav-bar > ul > li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #EF233C;
    transition: width .3s;
}

#resp-nav-bar > ul {
    margin-top: 50px;
}

#resp-nav-bar > ul > li {
    list-style: none;
    padding: 50px;
    font-size: 25px;
    width: fit-content;
    color: rgb(150, 150, 150);
    margin: auto;
    cursor: pointer;
    user-select:none;
}

#resp-nav-bar > ul > li:hover {
    color: white;
}

#resp-nav-bar > ul > li:hover::after {
    width: 100%;
    transition: width .3s;
}

#resp-home {
    color: white !important;
}

#resp-nav-bar > ul > #resp-home::after {
    width: 100%;
    transition: width .3s;
}

@media screen and (max-width: 1300px)
{
    #responsive-menu-box {
        display: flex;
    }
    #search-bar > select {
        padding-top: 1px;
    }

    #search-box {
        display: flex;
        margin: auto;
        height: fit-content;
        width: fit-content;
        padding: 15px 0px;
    }

    #search-content {
        flex-direction: column;
        width: 72vw;
        justify-content: center;

    }

    /* #search-content > h2 {
        margin: auto;
        margin-bottom: 20px;
    } */

    #logo {
        width: 220px;
        height: 50px;
        margin: 20px auto;
    }

    #search-bar > input {
        width: 40vw;
    }

    #nav-icons-box {
        margin: auto;
        margin-right: 25px;
    }

    #nav-bar {
        display: none;
    }

    #account-icon {
        display: none;
 
    }

    #menu-icon {
        display: block;
    }

 
}

@media screen and (max-width: 900px)
{
    #search-content {
        width: 90vw;
    }

    #responsive-menu {
        width: 45vw;
    }

    #menu-mask {
        width: 55vw;
    }
}

@media screen and (max-width: 750px)
{

    
    #search-bar > input {
        width: 50vw;
    }

    #search-bar > select {
        width: 80px;

    }

    #search-icon {
        display: block;
        font-size: 12px;
        margin: auto;

    }

    #search-bar > button {
        width: 40px;
        height: 40px;
        padding-bottom: 1px;

    }
    #search-bar > button > p {
        display: none;
    }

    #resp-nav-bar > ul >li {
        font-size: 22px;
    }
}

@media screen and (max-width: 480px)
{
    #search-bar > select {
        padding-top: 0.5px;
    }

    .nav-icons {
        padding: 15px 10px;
    }
    
    #resp-nav-bar > ul >li {
        font-size: 18px;
        padding: 34px 5px;
    }
}